
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<br />
<h3 style="text-align:center">GIỚI THIỆU VỀ CÔNG TY TNHH NHNCOMPSHOP</h3>
<br />

<img src="~/Images/gioithieu.jpg"style="padding-left:300px;" />
<p></p>
<p style="padding-left:20px;">
    Siêu thị Điện máy HC trực thuộc công ty TNHH Thương mại VHC được thành lập năm 2006, trải qua 16 năm phát triển HC đã trở thành thương hiệu quen thuộc trong tiềm thức người tiêu dùng khắp Việt Nam.
    Với hệ thống hơn 40 chi nhánh khắp các tỉnh thành cùng mô hình kinh doanh Online phủ sóng mạnh trên các kênh điện tử, HC đã trở thành một trong những siêu thị điện máy uy tín hàng đầu, được hàng triệu người tin dùng và lựa chọn.
    <br />HC được coi là hệ thống Siêu thị điện máy có diện tích lớn nhất Việt Nam với diện tích mặt sàn trưng bày từ 1000 – 4000m2 với đầy đủ hệ thống kho bãi, logistics phụ trợ, phân phối hơn 20.000 sản phẩm điện máy: Điện tử, Điện lạnh, Gia dụng, ICT&Mobile từ các hãng nổi tiếng trên thế giới như Samsung, Electrolux, LG, Toshiba, Panasonic…
    <br />Thành tựu Điện máy HC đạt được trong hơn 16 năm qua:
    <br />
    - Giải thưởng TOP 10 CÔNG TY  BÁN LẺ UY TÍN trong nhiều năm - Giải thưởng danh giá bậc nhất trong lĩnh vực bán lẻ do Vietnam Report công bố
    <br />
    - Giải thưởng: TOP 500 DOANH NGHIỆP LỚN NHẤT VIỆT NAM trong 8 năm liền, khẳng định vị trí hàng đầu và chỗ đứng trong lòng hàng triệu người tiêu dùng Việt Nam.
</p>

